<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Subject</th>
    <th scope="col">Client</th>
    <th scope="col">Department</th>
  </tr>
  </thead>
  <tbody>
  <% @tickets.each do |ticket| %>
    <tr>
      <th scope="row"> <%= ticket.unique_id%> </th>
      <td><%= ticket.subject%></td>
      <td><%= ticket.client_id%></td>
      <td><%= ticket.department%></td>
    </tr>
  <% end %>
  </tbody>
</table>
